<div class="card">
  <h1 class="header-main">Lånesøknad</h1>
  <form class="form">
    <div class="row">
      <div class="col-6">
        <h2 class="header-secondary">Søker 1</h2>
        <div>
          <input class="input" id="fodsesnummer_soker1" class="input" placeholder="Fødselsnummer"/>
          <label class="label" for="fodsesnummer_soker1">Fødselsnummer</label>
        </div>
        <div>
          <input class="input" id="navn_soker1" class="input" placeholder="Navn"/>
          <label class="label" for="navn_soker1">Navn</label>
        </div>
        <div>
          <input class="input" id="fodselsdato_soker1" class="input" placeholder="Fødselsdato"/>
          <label class="label" for="fodselsdato_soker1">Fødselsdato</label>
        </div>
      </div>
      <div class="col-6">
        <h2 class="header-secondary">Søker 2</h2>
        <div>
          <input class="input" id="fodsesnummer_soker2" class="input" placeholder="Fødselsnummer"/>
          <label class="label" for="fodsesnummer_soker2">Fødselsnummer</label>
        </div>
        <div>
          <input class="input" id="navn_soker2" class="input" placeholder="Navn"/>
          <label class="label" for="navn_soker2">Navn</label>
        </div>
        <div>
          <input class="input" id="fodselsdato_soker2" class="input" placeholder="Fødselsdato"/>
          <label class="label" for="fodselsdato_soker2">Fødselsdato</label>
        </div>
      </div>
      <div class="col-12">
        <div>
          <input class="input" type="number" style="width: 90%" id="lanebelop" class="input" placeholder="Lånebeløp"/>
          <label class="label" for="lanebelop">Lånebeløp</label>
        </div>
        <div>
          <input class="input" type="number" style="width: 90%" id="lopetid" class="input"
                 placeholder="Løpetid i måneder"/>
          <label class="label" for="lopetid">Løpetid i måneder</label>
        </div>
        <div>
          <input class="input" type="number" style="width: 90%" id="avdragsfriperiode" class="input"
                 placeholder="Avdragsfriperiode"/>
          <label class="label" for="avdragsfriperiode">Avdragsfriperiode</label>
        </div>
        <div>
          <select style="width: 95%;" class="input" id="lanetype">
            <option value="volvo">Annuitet</option>
            <option value="saab">Serie</option>
          </select>
          <label class="label" for="lanetype">Lånetype</label>
        </div>
        <div>
          <textarea style="width: 90%;" class="input" placeholder="behov">

          </textarea>
          <label class="label" for="lanetype">Behov (hva låner du/dere penger til)</label>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: end; padding-right: 65px;">
      <button class="button">Send søknad</button>
    </div>
  </form>
</div>
